.izquierdo{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    max-height: auto;
    float: left;
}
.derecho{
    background-color: white;
    max-width: 100%;
    height: auto;
    float: left;
}
.precio{
    padding: 0;
    margin-top: -15px;
}
.titulo{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
.font-categoria{
    font-size: 12px;
}
.font-precio {
    color: rgb(53, 53, 53);
    font-size: 20px;
}
.estado{
    margin-top: 10%;
}
.font-estado {
    color: rgb(49, 49, 49);
    font-size: 16px;
}
.descripcion{
    margin-top: 10%;
}
.font-descripcion{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.parrafo{
    color: black;
}
.links-categorias:link{
color: black;
}
.links-categorias:hover{
    color: black;
}
.vendedor{
    margin-top: 10%;
    max-height: 200px;
}
.font-vendedor{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.imagen-vendedor{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.div-imagen{
    float: left;
}
.div-nombre{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    height: 100%;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 725px;
    overflow-y: auto;
}
.carousel, .carousel-inner > .item > img {
    max-height: 700px;
    max-width: 100%;
  }
.registro-de-vendedor{
    margin-top: -10px;
}