@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
body {background: #dce1df;color: #4f585e;font-family: 'Source Sans Pro', sans-serif;text-rendering: optimizeLegibility;}
a.btn {background: #0096a0;border-radius: 4px;box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);color: #ffffff;display: inline-block;padding: 6px 30px 8px;position: relative;text-decoration: none;transition: all 0.1s 0s ease-out;}
.no-touch a.btn:hover {background: #00a2ad;box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);transform: translateY(-2px);transition: all 0.25s 0s ease-out;}
.no-touch a.btn:active,
a.btn:active {background: #008a93;box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);transform: translate3d(0, 1px, 0);transition: all 0.025s 0s ease-out;}
div.cards {margin: 40px auto;max-width: 1600px;text-align: center;}
div.carde {background: #ffffff;display: inline-block;margin: 8px;max-width: 300px;perspective: 1000;position: relative;text-align: left;transition: all 0.3s 0s ease-in;width: 300px;z-index: 1;}
div.carde img {max-width: 300px;}
div.carde .card__image-holder {background: rgba(0, 0, 0, 0.1);height: 0;padding-bottom: 75%;}
div.carde div.card-title {background: #ffffff;padding: 6px 15px 10px;position: relative;z-index: 0;}
div.carde div.card-title a.toggle-info {border-radius: 32px;height: 32px;padding: 0;position: absolute;right: 15px;top: 10px;width: 32px;}
div.carde div.card-title a.toggle-info span {background: #ffffff;display: block;height: 2px;position: absolute;top: 16px;transition: all 0.15s 0s ease-out;width: 12px;}
div.carde div.card-title a.toggle-info span.left {right: 14px;transform: rotate(45deg);}
div.carde div.card-title a.toggle-info span.right {left: 14px;transform: rotate(-45deg);}
div.carde div.card-title h2 {font-size: 24px;font-weight: 700;letter-spacing: -0.05em;margin: 0;padding: 0;}
div.carde div.card-title h2 small {display: block;font-size: 18px;font-weight: 600;letter-spacing: -0.025em;}
div.carde div.card-description {padding: 0 15px 10px;position: relative;font-size: 14px;}
div.carde div.card-actions {box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);padding: 10px 15px 20px;text-align: center;}
div.carde div.card-flap {background: #d9d9d9;position: absolute;width: 100%;transform-origin: top;transform: rotateX(-90deg);}
div.carde div.flap1 {transition: all 0.3s 0.3s ease-out;z-index: -1;}
div.carde div.flap2 {transition: all 0.3s 0s ease-out;z-index: -2;}
div.cards.showing div.carde {cursor: pointer;opacity: 0.6;transform: scale(0.88);}
.no-touch div.cards.showing div.carde:hover {opacity: 0.94;transform: scale(0.92);}
div.carde.show {opacity: 1 !important;transform: scale(1) !important;}
div.carde.show div.card-title a.toggle-info {background: #ff6666 !important;}
div.carde.show div.card-title a.toggle-info span {top: 15px;}
div.carde.show div.card-title a.toggle-info span.left {right: 10px;}
div.carde.show div.card-title a.toggle-info span.right {left: 10px;}
div.carde.show div.card-flap {background: #ffffff;transform: rotateX(0deg);}
div.carde.show div.flap1 {transition: all 0.3s 0s ease-out;}
div.carde.show div.flap2 {transition: all 0.3s 0.2s ease-out;}
.izquierdo{background-color: rgb(255, 255, 255);max-width: 100%;max-height: auto;float: left;}
.derecho{background-color: white;max-width: 100%;height: auto;float: left;}
.precio{padding: 0;margin-top: -15px;}
.titulo{font-size: 32px;font-weight: bold;color: black;}
.font-categoria{font-size: 12px;}
.font-precio {color: rgb(53, 53, 53);font-size: 20px;}
.estado{margin-top: 0%;}
.font-estado {color: rgb(49, 49, 49);font-size: 16px;}
.descripcion{margin-top: 5%;}
.font-descripcion{font-size: 24px;font-weight: bold;color: black;}
.parrafo{color: black;}
.links-categorias:link{color: black;}
.links-categorias:hover{color: black;}
.vendedor{margin-top: 10%;max-height: 200px;}
.font-vendedor{color: black;font-weight: bold;font-size: 20px;}
.imagen-vendedor{height: 50px;width: 50px;border-radius: 100px;}
.div-imagen{float: left;}
.div-nombre{float: left;margin-left: 5%;margin-top: 2%;height: 100%;}
.modal-dialog-per{overflow-y: initial !important}
.modal-body-per{height: 650px;overflow-y: auto;}
.carousel, .carousel-inner > .item > img {max-height: 700px;max-width: 100%;}
.registro-de-vendedor{margin-top: -10px;}